<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />

    <link rel="stylesheet" href="/css/pages/internas/carteira/index.css" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Minha Carteira Grafico</title>
  </head>
  <body>
    <%- include("../components/headerInterno",{ usuario })%>
    <main class="mainContainer">
      <%- include ../components/menuLateral %>

      <section class="mainContainer__cardPrincipal">
        <%- include main/header/headerMinhaCarteira %> 


        <h2 class="title__responsivo"> Devido a questões de legibilidade graficos indisponiveis com acesso atraves
          de dispositos móveis. </h2>
        <div class="graficos">

        
          <div class="graficoGanho">
            <h1 class="titleGanho">Ganho</h1>
            <%- include main/components/grafico/graficoGanho.ejs %> 
          </div>
          <div class="graficoGasto">
            <h1 class="titleGasto">Gasto</h1>
            <%- include main/components/grafico/graficoGasto.ejs %> 
          </div>
     
        </div>
        <div class="graficoBar">
          <%- include main/components/grafico/graficoBarChart.ejs %> 
        </div>
          
      
        
     
      </section>
    </main>
    <script src="/js/addedClass.js"></script>
  </body>
</html>
