<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <link rel="stylesheet" href="/css/partials/meusInvestimentos/listInvestment.css">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DetoxFin | Investimentos</title>
    </head>
    <body>
        <%- include ../../../partials/headerinterno.ejs %>
        <main class="mainContainer">
            <%- include  ../../../partials/menuLateral.ejs %>
            
            <section class="mainContainer__cardPrincipal">
                    
                <%-include headerInvestimentos.ejs %>
                
               <% for (const investimento of investimentos) { %>
                    <li class="box">
                        <p class="box_title"><%= investimento.nome %></p> 
                        <ul class="descricao">
                            <li class="descricao_link">Valor: R$<%= investimento.valor %></li>
                            <li class="descricao_link">Renda <%= investimento.renda %></li>
                            <li class="descricao_link"><%= investimento.tipo %></li>
                            <li class="descricao_link_borda"><%= investimento.tempo %></li>
                        </ul>
                        <form method="POST" action="/user/meusInvestimentos/deletar/<%= investimento.id %>">
                            <input class="button is-danger" type="submit" value="Deletar"/>
                        </form>
                    </li>
                <% } %>
            </section>
        </main>
 
        <footer>

            <p class="copyright"> Copyright © 2021 DetoxFin</p>  
        </footer>
           
    </body>
</html>