<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <link rel="stylesheet" href="/css/partials/meusInvestimentos/listInvestment.css">
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">  
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DetoxFin | Investimentos</title>
    </head>
    <body>
        <%- include("../../../partials/headerinterno.ejs",{
            usuario
        })%>
        <main class="mainContainer">
            
            <%- include  ../../../partials/menuLateral.ejs %>
            
            <section class="mainContainer__cardPrincipal">
                    
                <%-include headerInvestimentos.ejs %>
                
                <% for (let i = 0; i < carteira.length; i++) { %>
                    <li>
                        <h1><% console.log(carteira[i]) %></h1>
                        <h1><%= carteira[i].nome %></h1>

                        <form method="POST" action="/listInvestimento/deletar/<%= carteira.idTipodeInvestimento %>">
                            <input class="button is-danger" type="submit" value="Deletar"/>
                        </form>
                    </li>
                <% } %>
             
                
            </section>
        </main>
 
      
           
    </body>
</html>