
        <!DOCTYPE html>
        <html lang="pt-br">
            <head>
                <meta charset="UTF-8">
              <link rel="stylesheet" href="/css/partials/indexInterno/index.css">
              <link rel="stylesheet" href="/css/partials/IndexMinhaCarteira/listCarteira.css">
              <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-v4-rtl/4.6.0-2/js/bootstrap.min.js">
                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <title>Document</title>
            </head>
            <body>

                <%- include("../../../partials/headerinterno.ejs",{
                    usuario
                })%>
                <main class="mainContainer">

                    <%- include  ../../../partials/menuLateral.ejs %>
        
                    <section class="mainContainer__cardPrincipal">

                        <%- include headerMinhaCarteira %>
                        
                        <% for (let i = 0; i < carteira.length; i++) { %>
                            <h1><% console.log(carteira[i]) %></h1>
                            <h1><%= carteira[i].nome %></h1>
                            <h2><%= carteira[i].valor %></h2>
                        <% } %>
                     
                       
                        
                        
                 </section>
                 </main>
                
                <footer>
                    <p class="copyright"> Copyright © 2021 DetoxFin</p>  
                </footer>
    </body>
</html>