
        <!DOCTYPE html>
        <html lang="pt-br">
            <head>
                <meta charset="UTF-8">
              <link rel="stylesheet" href="/css/partials/indexInterno/index.css">
              <link rel="stylesheet" href="/css/partials/IndexMinhaCarteira/listCarteira.css">
              <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-v4-rtl/4.6.0-2/js/bootstrap.min.js">
                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <title>Document</title>
            </head>
            <body>

                <%- include("../../../partials/headerinterno.ejs",{
                    usuario
                })%>
                <main class="mainContainer">

                    <%- include  ../../../partials/menuLateral.ejs %>
        
                    <section class="mainContainer__cardPrincipal">

                        <%- include headerMinhaCarteira %>
                        
                     
                        <div class="divisor ">
                            <div class="container_entrada ">
                                
                                <% for (const entrada of entradas) { %>
                                    <div class="entrada row ">
                                        <li class="box  offset-sm-2 col-sm-9">
                                            <p class="box_title"><%= entrada.nome %></p> 
                                            <ul class="descricao">
                                                <li class="descricao_link_borda">
                                                    Valor: R$<%= entrada.valor %>
                                                    <form method="POST" action="/user/minhaCarteira/deletarEntrada/<%= entrada.id %>">
                                                        <input class="button is-danger" type="submit" value="Deletar"/>
                                                    </form>
                                                </li>
                                            </ul>
                                        </li>    
                                    </div>
                                <% }  %>
                            </div>
                        
                            <div class="container_saida">
                                <% for (const saida of saidas) { %>
                                    
                                    <div class="saida row ">
                                        <li class="box offset-sm-2 col-sm-9">
                                            <p class="box_title"><%= saida.nome %></p> 
                                            <ul class="descricao">
                                                <li class="descricao_link_borda">
                                                    Valor: R$<%= saida.valor %>
                                                    <form method="POST" action="/user/minhaCarteira/deletarSaida/<%= saida.id %>">
                                                        <input class="button is-danger" type="submit" value="Deletar"/>
                                                    </form>
                                                </li>
                                            </ul>
                                        </li>    
                                    </div>
                                    
                                <% } %> 
                               
                            </div>
                         
                        </div>
                        
                        
                 </section>
                 </main>
                
                <footer>
                    <p class="copyright"> Copyright © 2021 DetoxFin</p>  
                </footer>
    </body>
</html>