<form
  class="container"
  name="gasto/ganho"
  action="/user/minhaCarteira/editCarteira"
  method="POST"
>
  <h1 class="title">Adicionar na wallet</h1>
  <div class="row">
    <div class="offset-1 col">
      <!--Nome-->
      <div class="field">
        <label class="field-label" for="nome">Nome</label>
        <div class="control">
          <input
            class="input"
            type="text"
            name="nome"
            autocomplete="off"
            value="<%= ganhogasto.nome%>"
            required
          />
        </div>
      </div>
      <!--Data-->
      <div class="field">
        <label class="field-label" for="date">Data</label>
        <div class="control">
          <input
            class="input"
            id="date"
            type="date"
            name="date"
            autocomplete="off"
            value="<%= ganhogasto.data%>"
            required
          />
        </div>
      </div>
    </div>
    <div class="offset-1 col">
      <!--Valor-->
      <div class="field">
        <label class="field-label" for="valor">Valor(R$)</label>
        <div class="control">
          <input
            class="input"
            type="number"
            name="valor"
            autocomplete="off"
            value="<%= ganhogasto.valor%>"
            required
          />
        </div>
      </div>
      <!--Ganho ou Gasto-->
      <div class="field">
        <label class="field-label">Tipo</label>
        <div class="control">
          <select id="tipo" class="input" name="tipo">
            <option value="">Ganho/Gasto</option>
            <option id="ganho" class="ganho" value="ganho">Ganho</option>
            <option id="gasto" class="gasto" value="gasto">Gasto</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <%- include questionarios/ganho/formulario.querionarioGanho.ejs %>
   <%- include questionarios/gasto/formulario.querionarioGasto.ejs %>
  <input class="button" type="submit" value="Editar" />
</form>
