<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <!-- CSS only -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">  
        
        <link rel="stylesheet" href="/css/pages/internas/investimentos/main/listInvestment/listInvestment.css">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DetoxFin | Investimentos</title>
    </head>
    <body>
        <%- include("../../../components/headerInterno.ejs",{
            usuario
        })%>
        <main class="mainContainer">

            <%- include  ../../../components/menuLateral.ejs %>
            
            <section class="mainContainer__cardPrincipal">
                    
                <%-include ../header/headerInvestimentos.ejs %>
                
                <% for (let i = 0; i < carteira.length; i++) { %>
                        <div class="box investment">
                            <div class="box_first">
                                <h1 class='mainContainer__cardPrincipal_carteiraNome'><%= carteira[i].nome %></h1>
                                <ul class='mainContainer__cardPrincipal_carteira_ul'>
                                    <li><p class='mainContainer__cardPrincipal_carteira'>R$<%= carteira[i].valorTotal %></p></li>
                                </ul>
                            </div>
                            <div class="box_second">
                                <form method="POST" action="listInvestment/deletar/<%= carteira[i].idTipoDeInvestimento %>">
                                    <input class="button is-danger" type="submit" value="Deletar"/>
                                </form>
                                <form method="POST" action="listInvestment/editar/<%= carteira[i].idTipoDeInvestimento %>">
                                    <input class="button  form_padding button-color" type="submit" value="Editar"/>
                                </form>
                            </div>
                        </div>
                        
                <% } %>
             
                
            </section>
        </main>
 
      
           
    </body>
</html>