<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
   <link rel="stylesheet" href="/css/pages/internas/dados/index.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dados | DetoxFin</title>
</head>
<body>
    

        <%- include("../components/headerInterno.ejs",{
            usuario
        })%>
    <main class="mainContainer">
        <%- include  ../components/menuLateral.ejs %>
        <section class="container">
            <span class= "mainContainer__dadosContainer__minhasInformacoes__descricao "></span>
            <section class="row ">     
               
                <section class="mainContainer__dadosContainer__minhasInformacoes box col-md-8 offset-1 col-8 row">
                    <form action="get">
                        <a class="link-dados d-flex flex-row-reverse" href="dadosDaConta/<%-usuario.idUsuario %> ">Atualizar<i class="mb-5 far fa-edit"></i></a>
                    </form>
                 
                    <h1 class="dados__titles offset-md-3">Nome:</h1>
                    <span class= "mainContainer__dadosContainer__minhasInformacoes__descricao offset-md-3"><%=usuario.nome%></span>
                    <h1 class="dados__titles offset-md-3">Email:</h1>
                    <span class= "mainContainer__dadosContainer__minhasInformacoes__descricao offset-md-3"><%=usuario.email%></span>
                    <h1 class="dados__titles offset-md-3" >CPF:</h1>
                    <span class= "mainContainer__dadosContainer__minhasInformacoes__descricao offset-md-3"><%=usuario.cpf%></span>
                    <h1 class="dados__titles offset-md-3">Telefone:</h1>
                    <span class= "mainContainer__dadosContainer__minhasInformacoes__descricao offset-md-3 "><%=usuario.telefone%> </span>
            </section>
     
        </section>




    </main>
</body>
</html>
