<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/pages/internas/dados/index.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dados | DetoxFin</title>
</head>
<body>
    

        <%- include("../../components/headerInterno.ejs",{
            usuario
        })%>
    <main class="mainContainer">
        <%- include  ../../components/menuLateral.ejs %>

        <section class="container m-auto">
           <form action="post" class="box ">
               <div class="offset-md-4 col-md-4   col-8">
                <h1 class="dados__titles">Nome:</h1>
                <span class= "mainContainer__dadosContainer__minhasInformacoes__descricao"><%=usuario.nome%></span>
                <h1 class="dados__titles">E-mail:</h1>
                <input type="text" class="mb-3" value=<%=usuario.email%> />
                <h1 class="dados__titles">CPF:</h1>
                <input type="text" class="mb-3" value=<%=usuario.cpf%> />
                <h1 class="dados__titles">Telefone:</h1>
                <input type="text" class="mb-3" value=<%=usuario.telefone%> />
               </div>
               <div class="butns offset-md-4">
                <input class="button is-danger" type="submit" value="Cancelar"/>
                <input class="button is-link form_padding" type="submit" value="Alterar"/>
               </div>
               
           </form>
          
     
        </section>




    </main>
</body>
</html>