
        <!DOCTYPE html>
        <html lang="pt-br">
            <head>
                <meta charset="UTF-8">
              <link rel="stylesheet" href="/css/partials/indexInterno/index.css">
              <link rel="stylesheet" href="/css/partials/IndexMinhaCarteira/listCarteira.css">
              <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-v4-rtl/4.6.0-2/js/bootstrap.min.js">
                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <title>Document</title>
            </head>
            <body>

                <%- include("../../../components/headerInterno.ejs",{
                    usuario
                })%>
                <main class="mainContainer">
                    <%- include  ../../../components/menuLateral.ejs %>

                    <section class="mainContainer__cardPrincipal">

              
                        <%- include ../header/headerMinhaCarteira %>



                        <% for (let i = 0; i < carteira.length; i++) { %>
                            <% if (carteira[i].entradaSaida == 'ganho'){ %>
                                <div class ='box ganho'>
                            <% }else if (carteira[i].entradaSaida == 'gasto'){ %>
                                <div class ='box gasto'>
                                    
                            <%}%>
                                    <div class="box_first">
                                        <h1 class='mainContainer__cardPrincipal_carteiraNome'><%= carteira[i].nome %></h1>
                                        <ul class='mainContainer__cardPrincipal_carteira_ul'>
                                            <li><p class='mainContainer__cardPrincipal_carteira'><%= carteira[i].descricao %></p></li>
                                            <li><p class='mainContainer__cardPrincipal_carteira'>R$<%= carteira[i].idGanhoGastos %></p></li>
                                        </ul>
                                    </div>
                                    <div class="box_second">
                                        <form method="POST" action="listCarteira/deletar/<%= carteira[i].idGanhoGastos %>">
                                            <input class="button is-danger" type="submit" value="Deletar"/>
                                        </form>
                                        <form method="POST" action="listCarteira/editar/<%= carteira[i].idGanhoGastos %>">
                                            <input class="button is-link form_padding" type="submit" value="Editar"/>
                                        </form>
                                    </div>
                                </div>
                            
                        <% } %>




                 </section>
                 </main>


    </body>
</html>
