<html>
        <!DOCTYPE html>
        <html lang="pt-br">
            <head>
            <meta charset="UTF-8">
            
                <link rel="stylesheet" href="/css/pages/internas/carteira/index.css">
                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <title>Document</title>
            </head>
            <body>

                <%- include("../../../components/headerInterno.ejs",{
                    usuario
                })%>
                <main class="mainContainer">
                    <%- include  ../../../components/menuLateral.ejs %>

                    <section class="mainContainer__cardPrincipal">

                        <%- include ../header/headerMinhaCarteira %>

                        <div class="field container">
                            <div class="control">
                              <select id="tipo" class="input" name="tipo">
                                <option value="">Adicionar Filtro</option>
                                <option id="ganho" class="ganho" value="ganho">Somente Ganhos</option>
                                <option id="gasto" class="gasto" value="gasto">Somente Gastos</option>
                              </select>
                            </div>
                          </div>

                        <section id="paginate">
                            <div class="list">
                                <% for (let i = 0; i < carteira.length; i++) { %>
                                    <% if (carteira[i].entradaSaida == 'ganho'){ %>
                              <div class =' ganho ml-5 row item'>
                                    <% }else if (carteira[i].entradaSaida == 'gasto'){ %>
                             <div class =' gasto ml-5 row'>          
                                    <%}%>
                                            <div class="box_first col-md-6">
                                                <h1 class='cardPrincipal_carteiraNome offset-md-5 offset-2'><%= carteira[i].nome %></h1>
                                                <ul class='cardPrincipal_carteira_ul ml-2 '>
                                                    <li><p class='cardPrincipal_carteira__descricao'><%= carteira[i].descricao %></p></li>
                                                    <li><p class='cardPrincipal_carteira '>R$<%= carteira[i].valor %></p></li>
                                                    <li><p class='cardPrincipal_carteira '><%= carteira[i].data %></p></li>
                                                </ul>
                                            </div>
                                            <div class="box_second mt-5 offset-md-2 col-md-4 row ml-1">
                                                <form class="col-md-4  col-5 mr-3" method="POST" action="listCarteira/deletar/<%= carteira[i].idGanhoGastos %>">
                                                    <input class="button is-danger col mr-4" type="submit" value="Deletar"/>
                                                </form>
                                                <form class="col-md-4 col"method="POST" action="listCarteira/editar/<%= carteira[i].idGanhoGastos %>">
                                                    <input class="button  button-color" type="submit" value="Editar"/>
                                                </form>
                                            </div>
                              </div>
                                    <% } %>     
                            </div>
                            </div>
                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                  <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">
                                      <span aria-hidden="true">&laquo;</span>
                                    </a>
                                  </li>
                                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                                  <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                      <span aria-hidden="true">&raquo;</span>
                                    </a>
                                  </li>
                                </ul>
                              </nav>
                        </section>



                 </section>
                 </main>
                 <script src="/js/paginationListCarteira.js"></script>
                 <script src="/js/addedClass.js"></script>
    </body>
</html>
