<!DOCTYPE html>
<html>
  <head>
    <title>DetoxFin</title>
    <link rel="stylesheet" href="/css/singup.css">
  </head>
  <body class="app">
    <%- include ../partials/header.ejs  %>
    <main class="mainContainer row align-items-center">
        <section class="mainContainer__containerform ">
            <h1 class="mainContainer__containerform__title"> Cadastre-se</h1>
            <form action="/users/new" method="post" name="newUserForm" class="containerform__form " >
                <input 
                value="<%= content.nome?content.nome:'' %>"
                class="containerform__form_field" 
                type="text" name="nome" 
                 placeholder="Nome Completo" 
                 onfocus="this.placeholder =''" 
                 onblur="this.placeholder='Nome Completo'"   
                 autocomplete="off" >
                <span class="containerform__form_field__errorMessage"></span>
                <input
                class="containerform__form_field" 
                type="email" name="email" 
                value="<%= content.email?content.email:'' %>"
                placeholder="E-mail" onfocus="this.placeholder =''" 
                onblur="this.placeholder='E-mail'"  
                autocomplete="off"
                 >
                <span class="containerform__form_field__errorMessage"><%= error.email ? error.email : '' %></span>
                <input
                class="containerform__form_field" 
                type="text" name="cpf" 
                value="<%= content.email?content.email:'' %>"
                placeholder="CPF:(XXX.XXX.XXX-XX)" onfocus="this.placeholder =''" 
                onblur="this.placeholder='CPF'"  
                autocomplete="off"
                >
                <input
                class="containerform__form_field" 
                type="text" name="telefone" 
                value="<%= content.email?content.email:'' %>"
                placeholder="Telefone:  (XX)XXXX-XXXXX" onfocus="this.placeholder =''" 
                onblur="this.placeholder='(xx)xxxx-xxxxx'"  
                autocomplete="off"
                >
              

              
                <input class="containerform__form_field" type="password" name="senha" placeholder="Senha" onfocus="this.placeholder ='' "  onblur="this.placeholder='Senha'">
                <span class="containerform__form_field__errorMessage"></span>
                <input class="containerform__form_field" type="password" name="senhaConfirmada" placeholder="Confirmação de Senha" onfocus="this.placeholder ='' "  onblur="this.placeholder='Confirmação de Senha'"  >
                <span class="containerform__form_field__errorMessage"><%= error.senha ? error.senha : '' %></span>
                
                <button class="btn btn" type="submit">Cadastrar Agora</button>
            </form>
        </section>
    </main>
    

  </body>
  
</html>
