<div id="questionarioGanho" class="mt-4 step step-1 no-display">
  <div class="row">
    <div class="offset-1 col">
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="descricao"
          id="salario"
          value="salario"
          <%= ganhogasto.descricao == "salario" ? "checked": "" %>
          required
        />
        <label class="form-check-label" for="salario"> Salario </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="descricao"
          id="bonificaçao"
          value="bonificaçao"
          <%= ganhogasto.descricao == "bonificaçao" ? "checked": "" %>
          required
        />
        <label class="form-check-label" for="bonificaçao"> Bonificação </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="descricao"
          id="comissao"
          value="comissao"
          <%= ganhogasto.descricao == "comissao" ? "checked": "" %>
          required
        />
        <label class="form-check-label" for="comissao"> Comissão </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="descricao"
          id="decimoterceiro"
          value="decimoterceiro"
          <%= ganhogasto.descricao == "decimoterceiro" ? "checked": "" %>
          required
        />
        <label class="form-check-label" for="decimoterceiro">
          Décimo terceiro
        </label>
      </div>
    </div>
    <div class=" offset-1  col">
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="descricao"
          id="freelance"
          value="freelance"
          <%= ganhogasto.descricao == "freelance" ? "checked": "" %>
          required
        />
        <label class="form-check-label" for="freelance"> Freelance </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="descricao"
          id="beneficio"
          value="beneficio"
          <%= ganhogasto.descricao == "beneficio" ? "checked": "" %>
          required
        />
        <label class="form-check-label" for="beneficio"> Beneficio </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="descricao"
          id="previdencia"
          value="previdencia"
          <%= ganhogasto.descricao == "previdencia" ? "checked": "" %>
          required
        />
        <label class="form-check-label" for="previdencia"> Previdencia </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="descricao"
          id="rendapassiva"
          value="rendapassiva"
          <%= ganhogasto.descricao == "rendapassiva" ? "checked": "" %>
          required
        />
        <label class="form-check-label" for="rendapassiva">
          Renda Passiva
        </label>
      </div>
    </div>
  </div>

</div>
